<style>
    /* Define the animation */
    @keyframes fadeIn {
      0% { opacity: 0; transform: translateY(-20px); }
      100% { opacity: 1; transform: translateY(0); }
    }
  
    /* Apply the animation to the text */
    h1 {
      animation: fadeIn 1s ease-in-out;
      font-size: 48px;
    }
  </style>

<h1>Details for {{eventDetails.name}}</h1>

<h2>Date</h2>
<span>{{eventDetails.date}}</span>
<hr>
<h2>Price</h2>
<span>${{eventDetails.price}}</span>
<hr>
<h2>Location</h2>
<span>{{eventDetails.location}}</span>
<hr>
<h2>Description</h2>
<span>{{eventDetails.description}}</span>
