/* html, body {
    height: 100%;
  }
  
  nav {
    float: left; or use display: flex; flex-direction: column;
    width: 200px;
    height: 100%;
    margin-right: 20px;
    padding: 20px;
    background-color: #f1f1f1;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, sans-serif;
    font-size: 30px;
    color: #333;
  }
  
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav li {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
  }
  
  nav a:hover {
    background-color: #ddd;
    color: #000;
  } */
  
  nav {
    float: left; /* or use display: flex; flex-direction: column; */
    width: 200px;
    height: 100%;
    margin-right: 20px;
    padding: 20px;
    background-color: #f1f1f1;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, sans-serif;
    font-size: 30px;
    color: #333;
  }
  
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav li {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
  }
  
  nav a:hover {
    background-color: #ddd;
    color: #000;
  }
  