<h1>Your Favorite Events</h1>

<div>
    <form #userIDForm="ngForm" (ngSubmit)="getUserID(userIDForm); toggleFavorites(activeUserID)">
        <label for="activeUserID">Enter user ID:</label>
       <input name="activeUserID" id="activeUserID" ngModel />
       <button>Show Favorites</button>
    </form>
</div>

<div *ngIf="showFavorites">
    <div *ngFor="let fave of favorites, index as eventID">
        <span> Favorites ID: {{fave.id}} | <a [routerLink]="['/event-details', fave.eventID]" routerLinkActive="active"> {{fave.name}}</a>
         </span>
    </div>
    <br>
    <form #deleteForm="ngForm" (ngSubmit)="deleteFavoriteByID(deleteForm)">
        <label for="deleteID">Enter ID You Want To Remove:</label>
        <input name="deleteID" id="deleteID" ngModel />
        <button>Remove From Favorites</button>
    </form>
    <div *ngIf="noFavorites">
    <p>You have no favorite events. Go back and add some!</p>
    </div>
</div>

