<h1>Your Favorite Events</h1>

<div>
    <form #userIDForm="ngForm" (ngSubmit)="getUserID(userIDForm); toggleFavorites(activeUserID)">
        <label for="activeUserID">Enter user ID:</label>
       <input name="activeUserID" id="activeUserID" ngModel />
       <button>Show Favorites</button>
    </form>
</div>

<div *ngIf="showFavorites">
    <div *ngFor="let fave of favorites">
        <div> {{fave.eventID}} </div>
    </div>
    <form #deleteForm="ngForm" (ngSubmit)="deleteFavoriteByID(deleteForm)">
        <label for="deleteID">Enter ID You Want To Remove:</label>
        <input name="deleteID" id="deleteID" ngModel />
        <button>Remove From Favorites</button>
    </form>
    <div>
        {{favoriteText}}
    </div>
</div>

